{% extends 'base.html' %}
{% load static %}

{% block title %}
Samples
{% endblock %}


{% block body %}
<div class="container overflow-hidden text-center">
    <p>Please select one of the samples from below.</p>
    <div class="text-success">
        <hr>
    </div>
    <div class="row gy-5">
        <div class="col-6">
            <a href="{% url 'sample:standard_list' %}" class="btn btn-outline-success btn-lg"
                role="button">Standard</a>
        </div>
        <div class="col-6">
            <a href="{% url 'sample:water_list' %}" class="btn btn-outline-success btn-lg"
                role="button">Water</a>
        </div>
        <div class="col-6">
            <a href="{% url 'sample:vegetable_list' %}" class="btn btn-outline-success btn-lg" role="button">Vegetable</a>
        </div>
        <div class="col-6">
            <a href="{% url 'sample:stool_list' %}" class="btn btn-outline-success btn-lg" role="button">Stool</a>
        </div>
    </div>
</div>

{% endblock %}