{% extends 'base.html' %}
{% load static %}

{% block title %}
Samples
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="container overflow-hidden text-center">
    <p>Please select one of the samples from below.</p>
    <div class="text-success">
        <hr>
    </div>
    <div class="row gy-5">
        <div class="col-6">
            <a href="{% url 'sample:standard_list' %}" class="btn btn-outline-success btn-lg"
                role="button">Standard</a>
        </div>
        <div class="col-6">
            <a href="{% url 'sample:water_list' %}" class="btn btn-outline-success btn-lg"
                role="button">Water</a>
        </div>
        <div class="col-6">
            <a href="#" class="btn btn-outline-success btn-lg disabled" role="button">Vegetable</a>
        </div>
        <div class="col-6">
            <a href="#" class="btn btn-outline-success btn-lg disabled" role="button">Stool</a>
        </div>
    </div>
</div>
{% else %}
<div class="shadow p-3 mb-5 rounded bg-body">
    <div class="card-body p-2">
        <h2 class="text-center">About Project</h2>
        <p style="text-align:justify;">Diarrheal diseases are one of the major causes of death and morbidity among
            children
            under the age of five in
            Nepal. This disease caused by the consumption of food and water contaminated with parasites namely giardia &
            cryptosporidium can only be prevented via detection of these parasites. Brightfield microscope mostly used
            in the context of Nepal for these detections has not been suitable in our geographically diverse region as
            it requires expensive lab setups, experts and other costly reagents. A low-cost alternative method for these
            resource-constrained settings is to use a smartphone microscope that is accessible, transportable and easy
            to use where images can be used to derive real-time automatic detection of diarrhea-causing protozoa.</p>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-5 p-3 align-middle">
                <img src="{% static 'img/naamii.webp' %}" class="img-thumbnail img-fluid border border-0"
                    alt="NAAMII Logo">
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col p-3 align-middle">
                        <img src="{% static 'img/lacuna.webp' %}" class="img-thumbnail img-fluid border border-0"
                            alt="Lacuna Fund Logo">
                    </div>
                </div>
                <div class="row">
                    <div class="col p-3 align-middle">
                        <img src="{% static 'img/kias.webp' %}" class="img-thumbnail img-fluid border border-0"
                            alt="KIAS Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}