{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ sample_type|title }} Samples
{% endblock %}

{% block body %}
{% with add_url_name="sample:"|add:sample_type|add:"_create" %}
{% with detail_url_name="sample:"|add:sample_type|add:"_detail" %}

<div class="container text-center">
    <h5>{{ sample_type|title }} Samples</h5>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="text-success">
                <hr>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="mx-auto">
        <a class="btn btn-success btn-lg rounded-5" href="{% url add_url_name %}">
            Add Sample
            <i class="bi bi-plus-circle"></i>
        </a>
    </div>
    {% if latest_samples_list %}
    <div class="text-start mt-5">
        <ul class="list-group list-group-flush">
            {% for sample in latest_samples_list %}
            <li class="list-group-item">
                <a href="{% url detail_url_name sample.sample_id %}"
                    class="text-break text-decoration-none">{{sample.sample_id}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
</div>

{% endwith %}
{% endwith %}
{% endblock %}