{% extends 'sample/home.html' %}
{% load sample_extras %}
{% block body %}
<h5 class="text-center">{{ sample }}</h5>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="text-success">
            <hr>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="text-wrap container">
    <div class="row">
        <div class="col">
            {% block sample_detail %}
            {% endblock %}
        </div>
    </div>
</div>


<div class="text-wrap container">
    <div class="row">
        <div class="col">
            {% if perms.sample.view_slide %}
            {% if slides %}
            {% for slide in slides %}
            {% if slide.smartphone_images_count == 15 %}
            {% setvar "sample:"|add:sample_type|add:"_slide_image" as smartphone_slide_images_url %}
            {% else %}
            {% setvar "sample:"|add:sample_type|add:"_slide_image_upload" as smartphone_slide_images_url %}
            {% endif %}
            
            {% if slide.brightfield_images_count == 15 %}
            {% setvar "sample:"|add:sample_type|add:"_slide_image" as brightfield_slide_images_url %}
            {% else %}
            {% setvar "sample:"|add:sample_type|add:"_slide_image_upload" as brightfield_slide_images_url %}
            {% endif %}
            <table class="table mt-2 table-bordered table-responsive">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="text-center">Slide {{ forloop.counter}}</th>
                        <th scope="col" class="text-center">Uploaded</th>
                        <th scope="col" class="text-center">Approved</th>
                        <th scope="col" class="text-center">Rejected</th>
                        <th scope="col" class="text-center">Not Reviewed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-primary">
                        <td class="text-center">
                            {% if perms.sample.view_slideimage %}
                            <a class="link-primary"
                                href="{% url smartphone_slide_images_url sample_id=sample.sample_id slide_number=slide.slide_number image_type='smartphone' %}">Smartphone</a>
            
                            {% else %}
                            <a class="link-primary" href="#">Smartphone</a>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ slide.smartphone_images_count }}</td>
                        <td class="text-center">{{ slide.smartphone_images_approved_count }}</td>
                        <td class="text-center">{{ slide.smartphone_images_rejected_count }}</td>
                        <td class="text-center">{{ slide.smartphone_images_not_reviewed_count }}</td>

                    </tr>
                    <tr class="text-success">
                        <td class="text-center">
                            {% if perms.sample.view_slideimage %}
                            <a href="{% url brightfield_slide_images_url sample_id=sample.sample_id slide_number=slide.slide_number image_type='brightfield' %}"
                                class="link-success">Brightfield</a>
                            {% else %}
                            <a href="#" class="link-success">Brightfield</a>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ slide.brightfield_images_count }}</td>
                        <td class="text-center">{{ slide.brightfield_images_approved_count }}</td>
                        <td class="text-center">{{ slide.brightfield_images_rejected_count }}</td>
                        <td class="text-center">{{ slide.brightfield_images_not_reviewed_count }}</td>

                    </tr>
                </tbody>
            </table>
            {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}