{% extends 'sample/home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
{% with upload_url="sample:"|add:sample_type|add:"_slide_image_upload" %}
{% if image_type == 'smartphone' %}
<h4 class="text-primary">{{ image_type|title }}</h4>
<p class="lead">{{ slide }}</p>
<div class="text-primary">
    <hr>
</div>
{% else %}
<h4 class="text-success">{{ image_type|title }}</h4>
<p class="lead">{{ slide }}</p>
<div class="text-success">
    <hr>
</div>
{% endif %}

<div>
    {% if perms.sample.add_slideimage %}
    <span>
        <form action="{% url upload_url sample_id=sample_id slide_number=slide.slide_number image_type=image_type %}"
            method="post" class="form-inline" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success mt-1" type="submit" id="submit-btn">Submit</button>
        </form>
    </span>
    {% else %}
    <span>
        <p class="display-4">No images to show.</p>
    </span>
    {% endif %}
</div>
{% endwith %}
{% endblock %}

{% block script %}
<script src="{% static 'js/buttonSpinner.js' %}"></script>

{% endblock %}