{% extends 'sample/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

{% endblock %}

{% block body %}
{% csrf_token %}

{% with upload_url="sample:"|add:sample_type|add:"_slide_image" %}
{% if image_type == 'smartphone' %}
<h4 class="text-primary">{{ image_type|title }}</h4>
<p class="lead">{{ slide }}</p>
<div class="text-primary">
    <hr>
</div>
{% else %}
<h4 class="text-success">{{ image_type|title }}</h4>
<p class="lead">{{ slide }}</p>
<div class="text-success">
    <hr>
</div>
{% endif %}



{% if images %}
<div class="row">
    {% for image in images %}
    <div class="col-lg-6">
        <div class="card m-2">
            <img src="{{ image.image.url }}" class="img-thumbnail rounded card-img card-img-top"
                alt="{{ image.image_id }}" id="{{ image.image_id }}" width="640" height="480" data-bs-toggle="modal"
                data-bs-target="#fullScreenModal" data-img-id="{{ image.image_id }}">
            <div class="card-body text-center">
                {% if image.reviewed %}
                <div id="div-{{ image.image_id }}">
                    {% if image.approved %}
                    <small class="card-text text-success">{{image}}</small>
                    <span class="badge text-success">
                        <i class="bi bi-check-circle-fill"></i>
                        Approved
                    </span>
                    {% if perms.sample.change_slideimage %}
                    <div>
                        <button type="button" class="btn btn-outline-danger btn-sm reject-btn"
                            id="reject-btn-{{image.id}}" data-bs-toggle="modal" data-bs-target="#reviewModal"
                            data-imageid="{{ image.image_id }}" data-bs-review="reject">Reject</button>
                    </div>
                    {% endif %}
                    {% else %}
                    <small class="card-text text-danger">{{image}}</small>
                    <span class="badge text-danger">
                        <i class="bi bi-x-circle-fill"></i>
                        Rejected
                    </span>
                    {% if perms.sample.change_slideimage %}
                    <div>
                        <button type="button" class="btn btn-outline-success btn-sm approve-btn"
                            id="approve-btn-{{image.id}}" data-bs-toggle="modal" data-bs-target="#reviewModal"
                            data-imageid="{{ image.image_id }}" data-bs-review="approve">Approve</button>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                {% else %}
                <div id="div-{{ image.image_id }}">
                    <small class="card-text text-secondary">{{image}}</small>
                    <span class="badge text-secondary">
                        <i class="bi bi-exclamation-triangle"></i>
                        Not Reviewed
                    </span>
                    {% if perms.sample.change_slideimage %}
                    <div>
                        <button type="button" class="btn btn-outline-success btn-sm approve-btn"
                            id="approve-btn-{{image.id}}" data-bs-toggle="modal" data-bs-target="#reviewModal"
                            data-imageid="{{ image.image_id }}" data-bs-review="approve">Approve</button>
                        <button type="button" class="btn btn-outline-danger btn-sm reject-btn"
                            id="reject-btn-{{image.id}}" data-bs-toggle="modal" data-bs-target="#reviewModal"
                            data-imageid="{{ image.image_id }}" data-bs-review="reject">Reject</button>
                    </div>

                    {% endif %}
                </div>
                {% endif %}

                {% if perms.sample.change_slideimage %}
                <div class="input-group m-3">
                    <textarea class="form-control" aria-label="Comment"
                        id="comment-{{ image.image_id }}">{{ image.comment }}</textarea>
                    <button class="btn btn-outline-secondary m-2 comment-btn" type="button"
                        id="comment-btn-{{ image.id }}" data-imageid="{{ image.image_id }}">Comment</button>
                </div>
                {% else %}
                {% if image.comment %}
                <span class="badge text-secondary">
                    Remarks:
                </span>
                <small class="card-text text-secondary">{{image.comment}}</small>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    Images can not be found.
</div>

{% endif %}
{% endwith %}


<!-- Alert -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast align-items-center text-bg-success border-0" id="approvedToast" class="toast" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Approve Image</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            The image has been successfully approved.
        </div>
    </div>
    <div class="toast align-items-center text-bg-danger border-0" id="rejectedToast" class="toast" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Reject Image</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

        <div class="toast-body">
            The image has been rejected.
        </div>
    </div>

    <div class="toast align-items-center text-bg-warning border-0" id="commentToast" class="toast" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Comment</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

        <div class="toast-body">
            Comment updated for the image.
        </div>
    </div>
</div>

<div class="modal fade" id="fullScreenModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="fullScreenModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="" alt="" height="100%" width="100%">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
</div>



{% endblock %}


{% block script %}

<script>

var exampleModal = document.getElementById('fullScreenModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var img = event.relatedTarget
  // Extract info from data-bs-* attributes
  var id = img.getAttribute('data-img-id')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyImg = exampleModal.querySelector('.modal-body img')

  modalTitle.textContent = id
  modalBodyImg.src = img.getAttribute('src')
})


</script>

<script src="{% static 'js/buttonSpinner.js' %}"></script>
<script src="{% static 'js/approveOrReject.js' %}"></script>


{% endblock %}