{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% if image_type == 'smartphone' %}
<h4 class="text-primary">{{ image_type|title }}</h4>
<p class="lead">{{ slide }}</p>
<div class="text-primary">
    <hr>
</div>
{% else %}
<h4 class="text-success">{{ image_type|title }}</h4>
<p class="lead">{{ slide }}</p>
<div class="text-success">
    <hr>
</div>
{% endif %}

{% if show_form %}

<div>
    <span>
        <form
            action="{% url 'sample:standard_slide_image' sample_id=sample_id slide_number=slide.slide_number image_type=image_type %}"
            method="post" class="form-inline" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success mt-1" type="submit"></input>
        </form>
        <!-- Uploaded image area-->
        <!-- <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
        <div class="image-area mt-4"><img id="imageResult-{{ image.number }}" src="#" alt=""
                class="img-fluid rounded shadow-sm mx-auto d-block"></div> -->
    </span>
</div>

{% endif %}

{% if images and not show_form %}
{% for image in images %}
<figure class="figure">
    <img src="{{ image.image.url }}" class="figure-img img-thumbnail rounded" alt="{{ image.image_id }}">
    <figcaption class="figure-caption">{{ image }}</figcaption>
</figure>
{% endfor %}
{% endif %}
{% endblock %}