{% extends 'base.html' %}

{% block body %}
<div class="alert alert-warning" role="alert">
    <p class="display-4">
        500 Internal Server Error
    </p>
    <span>
        <p>
            Whoopsie doodles! It looks like something has gone wrong on our end. Don't worry, we're not mad at you. It's
            just one of those days where everything seems to be going haywire.
        </p>

        <p>
            If you're seeing this message, it means there's been an error on our server and we're working hard to fix
            it. In the meantime, please try refreshing the page or going back and trying again later.
        </p>

        <p>
            We apologize for any inconvenience this may have caused. And to make it up to you, we promise to buy the
            entire IT team a round of drinks once we figure out what's going on. They deserve it after dealing with all
            this craziness. Hang in there, and we'll have things sorted out in no time!
        </p>
    </span>
</div>
{% endblock %}