{% load pwa %}
{% load view_breadcrumbs %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        Sitoscope
        {% endblock %}
    </title>
    {% progressive_web_app_meta %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        {% block nav %}
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-3 mt-3 d-flex justify-content-start">
                <a href="{% url 'user:home' %}" class="btn btn-success rounded-5">
                    <i class="bi bi-house-door-fill"></i>
                </a>
            </div>
            <div class="col-6">
                <h1 class="text-bold mt-3 d-flex justify-content-center">Parasitoscope</h1>
            </div>
            <div class="col-3 mt-3 d-flex justify-content-end">
                <div class="nav-item dropdown">
                    <a class="btn btn-primary rounded-5 dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">User Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'user:logout' %}">
                                Log out
                                <i class="bi bi-box-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6 mt-3">
                <h1 class="text-bold mt-3">Parasitoscope</h1>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="m-3">
            <div class="d-grid gap-2 col-6 mx-auto dropdown">
                <a class="btn btn-success btn-lg rounded-5" href="{% url 'user:login' %}">Log in</a>
            </div>
        </div>
        {% endif %}
        {% endblock %}
        <hr>
        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-2">
            </div>
            <div class="col-md-auto">

                {% block breadcrumbs %}
                {% render_breadcrumbs "view_breadcrumbs/bootstrap5.html" %}
                {% endblock %}
                {% include 'partials/messages.html' %}
                {% block body%}
                {% endblock %}
            </div>
            <div class="col col-lg-2">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    {% block script %}
    {% endblock %}
</body>

</html>