{% extends 'sample/sample_detail.html' %}

{% block sample_detail %}
<table class="table">
    <tbody>
        <tr>
            <td>Date of collection</td>
            <th scope="row">{{ sample.date_of_collection }}</th>
        </tr>
        <tr>
            <td>Province</td>
            <th scope="row">{{ sample.site.district.province.name }}</th>
        </tr>
        <tr>
            <td>District</td>
            <th scope="row">{{ sample.site.district.name }}</th>
        </tr>
        <tr>
            <td>Municipality/GaunPalika</td>
            <th scope="row">{{ sample.site.name }}</th>
        </tr>
        <tr>
            <td>Ward</td>
            <th scope="row">{{ sample.ward }}</th>
        </tr>
        <tr>
            <td>Locality</td>
            <th scope="row">{{ sample.locality }}</th>
        </tr>
        <tr>
            <td>Water Type</td>
            <th scope="row">{{ sample.get_type_display }}</th>
        </tr>
        <tr>
            <td>Water Use</td>
            <th scope="row">{{ sample.use }}</th>
        </tr>
        <tr>
            <td>Latitude</td>
            <th scope="row">{{ sample.lat }}</th>
        </tr>
        <tr>
            <td>Longitude</td>
            <th scope="row">{{ sample.long }}</th>
        </tr>
        <tr>
            <td>Site Image</td>
            <th scope="row">
                <figure class="figure">
                    <img src="{{ sample.site_image.url }}" class="figure-img img-thumbnail rounded" alt="site image">
                </figure>
            </th>
        </tr>
    </tbody>
</table>

{% endblock %}