{% extends "base.html" %} 
{%load template_utils %} 

{% block body %}

<div class="ms-4 me-4">
  <nav id="scanfcode" class="navbar">
    <div class="container-fluid">
      <div class="navbar-header d-flex justify-content-between w-100">
        <div>
          <a id="logo" class="navbar-brand" href="#">Annotation Home</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="row mt-4">
    <div class="col-8 bg-white">
      <div class="pt-4">
        <!-- Tabs navs -->
        <div class="d-flex justify-content-between">
        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link nav-link-btn active" id="not-annotated-tab" data-bs-toggle="tab"
              data-bs-target="#no-annot" type="button" role="tab" aria-controls="no-annot" aria-selected="true">
              Not Annotated
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="annotated-tab" data-bs-toggle="tab" data-bs-target="#yes-annot" type="button"
              role="tab" aria-controls="yes-annot" aria-selected="false">
              Annotated
            </button>
            
          </li>
        </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active border-right" id="no-annot" role="tabpanel"
            aria-labelledby="not-annotated-tab">
            <table id="myTableNotAnnotated" class="display fw-bold" style="width: 100%">
              <thead>
                <tr>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                {%for img in images.not_annotated%}
                    <tr>
                      <td>
                        <a href="{% url 'annotation:via_annotation_get' img=img.image %}">
                          {{img.image.image_id}}
                        </a>
                      </td>
                      
                    </tr>
                {%endfor%}
              </tbody>
              <tfoot>
                <tr>
                  <th>ID</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="tab-pane fade" id="yes-annot" role="tabpanel" aria-labelledby="annnotated-tab">
            <table id="myTableAnnotated" class="display fw-bold" style="width: 100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Annotation Date</th>
                </tr>
              </thead>
              <tbody>
                {%for ann in images.annotations%}
                    <tr>
                      <td>
                        <a href="{% url 'annotation:via_annotation_get' img=ann.image.image_id %}">
                          {{ann.image.image_id}}
                        </a>
                      </td>
                      <td>
                        {{ann.annotated_on}}
                      </td>
                    </tr>
                {%endfor%}
              </tbody>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Annotation Date</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- Tabs content -->
      </div>
    </div>
    <div class="col-4 mt-4">
      <div>
        <canvas id="pieChart"></canvas>
        <div class="display-3 row ms-2 mt-3 pt-2 text-white">
          <div class="col-6">
            <div style="background-color: #b15928;" class="chart-numbers">
              <p class="h6">
                <i class="fa fa-times-circle"></i>
                Not Annotated
              </p>
              <p class="h1">{{images.not_annotated_count}}</p>
            </div>
          </div>
          <div class="col-6 border-start">
            <div style="background-color:#1f78b4;" class="chart-numbers">
              <p class="h6">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                Annotated
              </p>
              <p class="h1">{{images.annotated_count}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    background: #e6e6ff;
    font-family: "Encode Sans", sans-serif;
  }

  /* navigation bar */
  #scanfcode {
    border-radius: 0px;
    background: #fff;
    padding: 10px 10px 10px 0px;
    font-size: 17px;
  }

  /* logo or main heading */
  #logo {
    font-size: 20px;
    font-weight: bolder;
    color: #00004d;
    letter-spacing: 2px;
  }

  /* sign up link button and toggle button */
  #button-link,
  #toogle-button {
    color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #fa6a48;
    line-height: 17px;
  }

  .nav-tabs .nav-link {
    background-color: #e6e6ff;
    color: black;
    padding: 15px;
    margin: 0px 10px;
    border-radius: 10px 10px 0 0;
    border: 1px solid darkolivegreen;
    border-bottom: 0px;
    font-weight: bold;
  }

  .nav-tabs .nav-link#not-annotated-tab.active,
  .nav-tabs .nav-link#not-annotated-tab:hover {
    background-color: #b15928;
    color: #f2f2f2;
  }

  .nav-tabs .nav-link#annotated-tab.active,
  .nav-tabs .nav-link#annotated-tab:hover {
    background-color: #1f78b4;
    color: #f2f2f2;
  }

  #myTableNotAnnotated {
    border: medium solid #b15928;
  }

  #myTableNotAnnotated a {
    color: #000;
  }

  #myTableAnnotated {
    border: medium solid #1f78b4;
  }

  #myTableAnnotated a {
    color: #000;
  }

  .chart-numbers {
    border-radius: 10px;
    padding: 10px;

  }

  #myTabContent th {
    font-weight: normal;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  console.log('{{images.annotated_labels|escapejs}}')
  $(document).ready(function () {
    $("#myTableNotAnnotated").DataTable();
  });

  $(document).ready(function () {
    $("#myTableAnnotated").DataTable();
  });

  // For rendering charts in the right side
  const [not_annotated_count, annotated_count] = [
    Number("{{images.not_annotated_count|escapejs}}"),
    Number("{{images.annotated_count|escapejs}}"),
  ];
  const ctx = document.getElementById("pieChart");

  new Chart(ctx, {
    type: "doughnut",
    data: {
      labels: ["Not Annotated Count", "Annotated Count"],
      datasets: [
        {
          label: "# of Images",
          data: [not_annotated_count, annotated_count],
          borderWidth: 1,
          backgroundColor: ['#b15928', '#1f78b4']
        },
      ],
    },
    options: {
      plugins: {
        legend: {
          labels: {
            font: {
              size: 16
            }
          }
        }
      }
    },
  });
</script>
{%endblock%}